@use './mixins' as mixins;
@use './variables' as vars;

* {
	font-family: Roboto, 'Helvetica Neue', arial, sans-serif;
	color: vars.$color-text-high;
}

#root {
	max-width: 100vw;
	width: 100%;
}

body {
	@include mixins.flex-center;
	flex-direction: column;
	background-color: vars.$color-bg-main;
	min-height: 100svh;
}

.app {
	@include mixins.flex-center;
	flex-direction: column;
	gap: 1rem;

	.main-heading {
		font-size: min(2rem, 8vw);
		font-weight: 700;
		margin: 0 0.5rem;
		display: block;
	}

	.main-container {
		@include mixins.flex-center;
		padding: 1rem;
		width: min(1000px, calc(100% - 1rem));
		border-radius: vars.$radius-lg;
		border: 1px solid vars.$color-border;
		flex-wrap: wrap-reverse;
		background-color: vars.$color-bg-surface;
	}
}
