@use './mixins' as mixins;

* {
	font-family: Roboto, 'Helvetica Neue', arial, sans-serif;
}

#root {
	width: 100vw;
}

body {
	@include mixins.flex-center;
	flex-direction: column;
	min-height: 100svh;
}

.app {
	@include mixins.flex-center;
	flex-direction: column;
	width: 100%;
	gap: 1rem;

	.main-heading {
		font-size: min(2rem, 8vw);
		font-weight: 700;
		margin: 0 0.5rem;
		display: block;
	}

	.main-container {
		@include mixins.flex-center;
		padding: 1rem;
		width: min(1000px, calc(100% - 1rem));
		border-radius: 1rem;
		border: 1px solid gray;
		flex-wrap: wrap-reverse;
	}
}
