@use "./mixins" as mixins;
@use "./variables" as vars;

* {
  font-family: Roboto, "Helvetica Neue", arial, sans-serif;
  color: vars.$color-text-high;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

*:focus-visible {
  outline-offset: 4px;
  border-radius: vars.$radius-sm;
  outline: 2px solid vars.$color-primary;
}

button,
fieldset,
input {
  all: unset;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
}

p {
  line-height: 1.3;
  color: vars.$color-text-med;
  text-align: left;
}

#root {
  max-width: 100vw;
  width: 100%;
}

body {
  @include mixins.flex-center;
  flex-direction: column;
  background-color: vars.$color-bg-main;
  min-height: 100svh;
}

.app {
  @include mixins.flex-center;
  flex-direction: column;
  gap: 1rem;

  .main-heading {
    font-size: min(2rem, 8vw);
    font-weight: 700;
    margin: 0 0.5rem;
    display: block;
  }

  .main-container {
    @include mixins.flex-center;
    padding: 1rem;
    width: min(64rem, calc(100% - 1rem));
    border-radius: vars.$radius-lg;
    border: 1px solid vars.$color-border;
    flex-wrap: wrap;
    background-color: vars.$color-bg-surface;

    section {
      @include mixins.flex-center;
      flex-direction: column;
      flex-grow: 1;
      max-width: 32rem;
    }
  }
}

.btn {
  width: min-content;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: vars.$radius-sm;
}

.btn.secondary {
  background-color: vars.$color-secondary-bg;
  color: vars.$color-secondary-text;
  border: vars.$color-secondary-border;

  &:hover {
    background-color: vars.$color-secondary-hover;
  }
}
