@use "@/src/styles/mixins" as mixins;

.book-list {
  @include mixins.flex-center;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 32rem;
  align-items: stretch;
  gap: 0.75rem;
  max-height: 44rem;
  overflow: hidden scroll;
  padding: 1rem 0.5rem;
  padding-left: 0;
}
