@use "@/src/styles/mixins" as mixins;
@use "@/src/styles/variables" as vars;

.book-list {
  @include mixins.flex-center;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  gap: 0.75rem;
  height: min(44rem, 90vh);
  overflow: hidden scroll;
  padding: 1rem 0.5rem;

  .result-info {
    text-align: center;
    display: block;
    width: 100%;
    color: vars.$color-text-low;
    font-style: italic;
  }
}
