@use '@/src/styles/mixins' as mixins;
@use '@/src/styles/variables' as vars;

.book-card {
	@include mixins.flex-center;
	gap: 1rem;
	padding: 1rem;
	border-radius: vars.$radius-md;
	background-color: vars.$color-bg-input;

	&:hover {
		background-color: vars.$color-bg-input-hover;
	}

	.img-wrap {
		max-width: 6rem;
		width: 100%;
		height: 8rem;
		display: flex;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.card-content {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		h3 {
			text-align: left;
		}

		p {
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
		}

		.sub-section {
			@include mixins.flex-center;
			margin-top: 0.2rem;
			width: 100%;
			justify-content: space-between;

			.author-name {
				color: vars.$color-text-med;
			}
		}
	}
}
