@use "@/src/styles/mixins" as mixins;
@use "@/src/styles/variables" as vars;

.filters {
  background-color: vars.$color-bg-surface;
  padding: 0.5rem;
  padding-bottom: 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
