@use "@/src/styles/mixins" as mixins;
@use "@/src/styles/variables" as vars;

.filters {
  background-color: vars.$color-bg-surface;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid vars.$color-border;
}
